body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-shadow: 7px 7px 15px #000000;
  background-image: url(images/janko-ferlic-specialdaddy-sfL_QOnmy00-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  color: #1a1919;
}

#container {
  border: 2px solid lightgrey;
  height: 400px;
  width: 400px;
  background-color: lightgray;
  margin: 200px auto;
}

#radio {
  text-align: center;
  font-size: 30px;
  margin: 50px;
}

#timer {
  height: 0px;
  margin-bottom: 65px;
  margin-top: 20px;
  color: whitesmoke;
  text-align: center;
  font-size: 90px;
}

.buttons {
  color: white; 
  margin-top: 90px;
  margin-left: 50px;
  display: inline-block;
}

#start{
  background-color: #4CAF50;
  color: white;
  padding: 15px 30px;
  align-content: center;
  font-size: 15px;
}

#stop{
  background-color: #f44336;
  color: white;
  padding: 15px 30px;
  align-content: center;
  font-size: 15px;
  text-transform: "Stop";
}

#reset{
  background-color: #008CBA;
  color: white;
  padding: 15px 30px;
  align-content: center;
  font-size: 15px;
}

#start:hover{
  box-shadow: 0 10px 15px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  transition-duration: 0.5s;
}

#stop:hover{
  box-shadow: 0 10px 15px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  transition-duration: 0.5s;
}

#reset:hover{
  box-shadow: 0 10px 15px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  transition-duration: 0.5s;
}